.certifications {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
}
.certification {
  height: fit-content;
  flex: 1;
  list-style-type: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.certification img {
  max-width: 100%;
  height: auto;
}
